<div class="container">
  <header class="header">
    <ul class="nav">
      <li>
        <a routerLink="" class="nav-link">Books Management System</a>
      </li>
    </ul>

    <div class="nav-end">
      <button type="button" class="btn btn-outline-primary" routerLink="/">
        Home
      </button>
      <button type="button" class="btn btn-primary" routerLink="/add-book">
        Add-Books
      </button>
    </div>
  </header>
</div>
<div class="container" style="background-color: white">
  <router-outlet> </router-outlet>
</div>
